:root {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  text-align: center;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: opacity, color 0.3s ease-in-out;
}

a:hover {
  opacity: 0.75;
  color: #535bf2;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: thin solid #213547;
  margin: 3rem auto;
  width: 80%;
}

.site {
  max-width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.post {
  max-width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #242424;
  text-align: center;
}

.post-author img {
  border-radius: 50%;
}

.post-date {
  margin: 1rem auto;
  display: block;
}

.post-excerpt,
.post-categories,
.post-tags,
.post-content {
  text-align: left;
}

.post-content summary {
  font-size: 1.5rem;
  font-weight: bold;
}

.post-content > article {
  padding: 1rem;
  background-color: #1a1a1a;
}

.post-contet img {
  display: block;
  margin: auto;
}

.post-loader,
.site-loader {
  display: none;
  margin: 2rem auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
